{
  "plugins": ["node"],
  "extends": ["eslint:recommended", "plugin:node/recommended"],
  "rules": {
    "no-console": [2, { "allow": ["warn", "error"] }],
    "node/no-unpublished-require": 0,
    "semi": [2]
  },
  "globals": {
    "it": true,
    "describe": true,
    "beforeEach": true
  }
}